@font-face {
    font-family: 'CormorantInfant-Bold';
    src: url('../../../../fonts/CormorantInfant-Bold.ttf');
}

.LandingTitle-title{
    font-size: 7rem;
    color: #fff;
    font-family: 'CormorantInfant-Bold', Courier, monospace;
    margin-top: 8rem;
    margin-left: 4rem;
}