@font-face {
  font-family: "josefin";
  src: url("../../fonts/JosefinSans-Medium.ttf");
}

.BrandSection{
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  padding: 2rem;
  border-bottom: 2px solid #5c6168;
}

@media screen and (max-width: 908px) {
.BrandSection div{
    margin-bottom: 1rem;
}
}
@media screen and (max-width:450px) {
    .BrandSection__logo-img{
        width:14rem;
        height: 7rem;
    }
}
