@font-face {
  font-family: "josefin";
  src: url(../../../fonts/JosefinSans-Medium.ttf);
}
@font-face {
  font-family: "CormorantInfant-Bold";
  src: url(../../../fonts/CormorantInfant-Bold.ttf);
}

.blogInfo {
  margin-bottom: 2rem;
}
.blogInfo-name {
  font-family: "josefin", Courier, monospace;
  font-size: 1rem;
  border-top: 2px solid #e1b168;
  border-bottom: 2px solid #e1b168;
  padding-top: 0.4rem;
  padding-bottom: 0.4rem;
  color: black;
  margin-top: 2rem;
  text-transform: uppercase;
  text-align: center;
  width: 10rem;
  display: block;
  margin: 0 auto;
}

.blogInfo-title {
  font-size: 2.5rem;
  font-family: "CormorantInfant-Bold", Courier, monospace;
  margin-top: 1rem;
  color: #292e36;
  text-align: center;
}

.blogInfo-text {
  font-size: 1rem;
  font-family: "josefin", Courier, monospace;
  margin-top: 1rem;
  color: #555555;
  text-align: center;
}

@media screen and (max-width: 480px) {
  .blogInfo-title {
    font-size: 1.8rem;
  }
}
