@font-face {
  font-family: "josefin";
  src: url(../../../fonts/JosefinSans-Medium.ttf);
}
@font-face {
  font-family: "CormorantInfant";
  src: url(../../../fonts/CormorantInfant-Bold.ttf);
}

.mainInfoLocation {
  width: 30%;
  background-color: #fff8f5;
  margin-top: 2rem;
  margin-left: 4rem;
  transition: all 200ms ease-in;
  padding: 1rem;
  border-radius: 2rem;
}
.mainInfoLocation:hover {
  transform: scale(0.9);
  cursor: pointer;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset,
    rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
}

.mainInfoLocation__wrapper {
  display: flex;
  align-items: center;
}

.mainInfoLocation__left {
  display: flex;
  justify-content: center;
  align-items: center;
}

.mainInfoLocation__left-image {
  background-color: #292e36;
  border-radius: 50%;
  width: 2rem;
  height: 2rem;
}

.mainInfoLocation__left {
  background-color: #292e36;
  border-radius: 50%;
}

.mainInfoLocation__left {
  width: 4rem;
  height: 4rem;
}

.mainInfoLocation__right {
  display: flex;
  flex-direction: column;
  margin-left: 2rem;
}

.mainInfoLocation__right-title {
  text-align: center;
  font-size: 2rem;
  font-family: "CormorantInfant", Courier, monospace;
}

.mainInfoLocation__right-text {
  text-align: center;
  margin-top: 1rem;
  font-family: "josefin", Courier, monospace;
  font-weight: bold;
}

@media screen and (max-width: 1200px) {
  .mainInfoLocation {
    margin-bottom: 1rem;
    width: 100%;
    text-align: center;
    margin: 0 auto;
    margin-top: 2rem;
  }
  .mainInfoLocation__wrapper {
    justify-content: space-around;
  }
}
@media screen and (max-width: 480px) {
  .mainInfoLocation {
    margin-bottom: 1rem;
    width: 100%;
    text-align: center;
  }
  .mainInfoLocation__wrapper {
    flex-direction: column;
  }
  .mainInfoLocation__left{
    margin-bottom: 1rem;
  }
}
