@font-face {
  font-family: "josefin";
  src: url(../../../fonts/JosefinSans-Medium.ttf);
}

.reservationInputs-form {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
}

.reservationInputs-form input {
  outline: none;
  background-color: transparent;
  border: 2px solid rgba(133, 133, 133, 1);
  font-size: 1.2rem;
  color: #fff;
}

.reservationInputs-form input::placeholder {
  color: #fff;
  font-family: "josefin", Courier, monospace;
}

.reservationInputs-form input:nth-child(1) {
  width: 20rem;
  padding: 1rem 4rem;
}
.reservationInputs-form input:nth-child(2) {
  width: 20rem;
  padding: 1rem 4rem;
}

.reservationInputs-form input {
  margin-top: 2rem;
  width: 14rem;
  padding: 1rem 4rem;
}

@media screen and (max-width: 480px) {
  .reservationInputs-form input {
    width: 12rem;
  }
}

@media screen and (max-width: 440px) {
  .reservationInputs-form input {
    width: 10rem;
    margin-right: 1rem;
  }
  .reservationInputs-form input:nth-child(1),
  .reservationInputs-form input:nth-child(2) {
    width: 14rem;
  }
}
