.mainInfo{
    display: flex;
    justify-content: space-around;
    background-color:  #FFF8F5;
    padding-bottom: 4rem;
}

@media screen and (max-width:1200px) {
    .mainInfo{
        flex-wrap: wrap;
    }
}