.MenuRight{
    margin-right: 4rem;
}

.MenuRightItem-right{
    width: 40rem;
}

@media screen and (max-width:1400px) {
    .MenuRight{
        width: 80%;
        margin: 0 auto;
        margin-top: 2rem;
    }

}