.testimonialCards{
    display: flex;
    justify-content: space-evenly;
    margin-top: 2rem;
    padding-bottom: 8rem;
}

@media screen and (max-width:1400px) {
    .testimonialCards{
        flex-wrap: wrap;
    }
}