@font-face {
  font-family: "CormorantInfant-Bold";
  src: url("../../../../fonts/CormorantInfant-Bold.ttf");
}

@font-face {
  font-family: "josefin";
  src: url("../../../../fonts//JosefinSans-Medium.ttf");
}
.menuRightItem {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 2rem;
  padding: 0.5rem;
  transition: all 200ms ease-in;
  border-radius: 2rem;
}

.MenuRightItem-right {
  display: flex;
  flex-direction: column;
}

.MenuRightItem-right-bottom {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.MenuRightItem-right {
  margin-left: 1rem;
}

.MenuRightItem-right-top-title {
  margin-bottom: 1rem;
  font-size: 1.4rem;
  font-family: "CormorantInfant-Bold", Courier, monospace;
}

.MenuRightItem-right-bottom-text {
  font-size: 1rem;
  font-family: "josefin", Courier, monospace;
}

.MenuRightItem-right-bottom-price {
  font-size: 2rem;
  font-family: "CormorantInfant-Bold", Courier, monospace;
}

.menuRightItem:hover {
  cursor: pointer;
  transform: scale(1.1);
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px,
    rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}

@media screen and (max-width: 610px) {
  .menuRightItem {
    flex-wrap: wrap;
    padding: 1rem;
  }
  .MenuRightItem-left {
    margin: 0 auto;
  }
}
@media screen and (max-width: 520px) {
  .MenuRightItem-right-bottom {
    flex-direction: column;
  }
  .MenuRightItem-right-top {
    text-align: center;
    margin-bottom: 1rem;
  }
  .MenuRightItem-right-bottom-line {
    margin-bottom: 1rem;
    margin-top: 1rem;
  }
  .MenuRightItem-right-bottom-line {
    width: 10rem;
  }
  .MenuRightItem-right-bottom-text {
    text-align: center;
    line-height: 1.4rem;
  }
}
