@font-face {
    font-family: 'josefin';
    src: url('../../../../fonts/JosefinSans-Medium.ttf');
}
.landing__button{
    margin-top: 4rem;
    margin-left: 4rem;
}
.landing__button-link{
    background-color: none;
    border: 2px solid  #E1B168;
    padding: 1rem 2.5rem;
    transition: all 140ms ease-in;
}

.landing__button-link{
    text-decoration: none;
    color: #fff;
    font-family: 'josefin', Courier, monospace;
}


.landing__button-link:hover{
    background-color: #E1B168;
    border: 2px solid  #292E36;
}
.landing__button-link:hover{
    color: #292E36;
    font-weight: bold;
}
