@font-face {
    font-family: 'josefin';
    src: url(../../../../fonts/JosefinSans-Medium.ttf);
}
@font-face {
    font-family: 'CormorantInfant-Bold';
    src: url(../../../../fonts/CormorantInfant-Bold.ttf);
}
.whatWeOfferCard{
    width:14rem;
    height: 14rem;
    border: 20px solid #323841;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    margin-right: 5rem;
    transition: all 200ms ease-in;
}

.whatWeOfferCard:hover{
    border: 14px solid #323841;
    border-radius: 1rem;
    cursor: pointer;
    box-shadow: rgba(0, 0, 0, 0.09) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
}

.whatWeOfferCard:hover .WhatWeOfferCard-bottom{
    font-size: 1.8rem;
}

.WhatWeOfferCard-top{
    margin-top: 1rem;
}

.WhatWeOfferCard-bottom{
    font-size: 1.4rem;
    color: #fff;
    font-family: 'CormorantInfant-Bold', Courier, monospace;
    margin-bottom: 2rem;
    transition: all 200ms ease-in;
}