@font-face {
    font-family: 'josefin';
    src: url(../../../../fonts/JosefinSans-Medium.ttf);
}
.deliciousStoryRightSign{
    width: 10rem;
    height: 5rem;
    margin-top: 2rem;
}

.deliciousStoryRightSign-text{
    font-family: 'josefin', Courier, monospace;
}
