.footerTopSocials {
  width: 20rem;
  flex-wrap: wrap;
  display: flex;
  justify-content: space-around;
}

.footerTopSocials div {
  width: 10rem;
  margin-bottom: 1rem;
}

.footerTopSocials div svg {
  fill: #fff;
  width: 2rem;
  height: 2rem;
  cursor: pointer;
  transition: all 140ms ease-in;
}

.footerTopSocials div svg:hover {
  fill: rgba(225, 177, 104, 1);
}

@media screen and (max-width: 1200px) {
  .footerTopSocials__instagram,
  .footerTopSocials__facebook,
  .footerTopSocials__twitter,
  .footerTopSocials__twitter-link,
  .footerTopSocials__pinterest {
    text-align: center;
  }
}
