.footerTop{
    display: flex;
    flex-direction: column;
}

.footerTop-top,.footerTop-bottom{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 2rem;
    margin-right: 2rem;
}



@media screen and (max-width:1200px) {
    .footerTop-top{
        flex-direction: column;
    }
    .footerTopHashtTag,.footerTopLogo,.footerTopSocials{
        margin: 0 auto;
        margin-bottom: 2rem;
    }
    .footerTop-bottom{
        flex-direction: column;
    }
}