@font-face {
    font-family: 'josefin';
    src: url(../../../fonts/JosefinSans-Medium.ttf);
}


.reservationButton-link{
    padding: 1rem 2rem;
    text-decoration: none;
    color: black;
    background-color:#fff ;
    display: block;
    margin: 0 auto;
    width: 12rem;
    text-align: center;
    margin-top: 2.5rem;
    font-family: 'josefin', Courier, monospace;
    font-size: 1.2rem;   
    transition: all 140ms ease-in;
}

.reservationButton-link:hover{
    background-color: rgba(225, 177, 104, 1);
    color: #fff;
}