.deliciousStory{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color:  #FFF8F5;
    /* height: 30rem; */
    margin-bottom: 4rem;
    padding-bottom: 4rem;
}

@media screen and (max-width:1400px) {
    .deliciousStory{
        flex-wrap: wrap;
    }
}