@font-face {
    font-family: 'josefin';
    src: url(../../../../fonts/JosefinSans-Medium.ttf);
}
@font-face {
    font-family: 'CormorantInfant-Bold';
    src: url(../../../../fonts/CormorantInfant-Bold.ttf);
}
.blogCard{
    display: flex;
    flex-direction: column;
    width: 30rem;
    height: 35rem;
    margin-left: 4rem;
    border: 2px solid #292E36;
    border-radius: 2rem;
    transition: all 140ms ease-in;

}

.blogCard:hover{
    box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
}

.blogCard-image-img{
    width: 100%;
    height: 100%;
    border-top-right-radius: 2rem;
    border-top-left-radius: 2rem;
    filter: brightness(44%);
    transition: all 250ms ease-in;
    
}

.blogCard-image-img:hover{
    filter: brightness(100%);
}




.BlogCard-image{
    position: relative;
}
.blogCard-image-btn{
    left: 8rem;
    top: 8rem;
    position: absolute;
    padding: 1.2rem 3.8rem;
    background-color:#E1B168 ;
    text-decoration: none;
    color:#292E36 ;
    font-family: 'josefin', Courier, monospace;
    transition: all 200ms ease-in;
}

.blogCard-image-btn:hover{
    font-size: 1.2rem;
    transform: scale(1.1);
    
}



.blogCard-data{
    display: flex;
    justify-content: space-around;
    margin-top: 2rem;
    
}

.blogCard-data-type,.blogCard-data-time{
    border-top: 2px solid #E1B168;
    border-bottom: 2px solid #E1B168;
    text-transform: uppercase;
    font-family: 'josefin', Courier, monospace;
    padding-top: 0.2rem;
    padding-bottom: 0.2rem;
    
}

.blogCard-title{
    font-size: 2rem;
    font-family: 'CormorantInfant-Bold', Courier, monospace;
    margin-top: 1rem;
    padding-right: 1rem;
    padding-left: 1rem;
}

.blogCard-text-info{
    font-size: 1rem;
    font-family: 'josefin', Courier, monospace;
    margin-top: 1rem;
    padding-right: 1rem;
    padding-left: 1rem;
}