@font-face {
    font-family: 'josefin';
    src: url(../../../../fonts/JosefinSans-Medium.ttf);
}
@font-face {
    font-family: 'CormorantInfant-Bold';
    src: url(../../../../fonts/CormorantInfant-Bold.ttf);
}
.popularMenuCard{
    width: 20rem;
    margin-left: 2rem;
    margin-right: 2rem;
    transition: all 200ms ease-in;
    padding: 1rem;
    /* border-radius: 2rem; */
    border-bottom-left-radius: 2rem;
    border-bottom-right-radius: 2rem;
    
}

.popularMenuCard:hover{
    cursor: pointer;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 25px 50px -12px;
    transform: scale(1.1);
}


.popularMenuCard__wrapper{
    display: flex;
    flex-direction: column;
    /* align-items: center; */
}

.popularMenuCard__image-img{
    width: 100%;
    height: 20rem;
}

.popularMenuCard__title-price{
    display: flex;
    justify-content: space-between;
}

.popularMenuCard__line{
    display: block;
    margin: 0 auto;
}

.popularMenuCard__title,.popularMenuCard__price{
    font-size: 2rem;
    font-family: 'CormorantInfant-Bold', Courier, monospace;
}

.popularMenuCard__title{
    margin-right: 2rem;
}

.popularMenuCard__text-info{
    font-size: 1rem;
    font-family: 'josefin', Courier, monospace;
    margin-top: 1rem;
}