@font-face {
    font-family: 'jodefin';
    src: url(../../../../fonts/JosefinSans-Medium.ttf);
}

.landing__text-text{
    color: #fff;
    font-family: 'josefin', Courier, monospace;
    margin-top: 2rem;
    font-size: 1.2rem;
    margin-left: 4rem;
    text-align: justify;
    line-height: 1.8rem;
}