.deliciousStoryLeft-image{
    width: 38rem;
    height: auto;
    opacity: 0.8;
    transition: all 200ms ease-in;
}

.deliciousStoryLeft-image:hover{
    opacity: 1;
    transform: scale(1.05);
    cursor: pointer;
}

@media screen and (max-width:1400px) {
    .deliciousStoryLeft-image{
        width: 100%;
        margin-bottom: 2rem;
    }
}
@media screen and (max-width:800px) {
    .deliciousStoryLeft-image{
        width: 30rem;
    }
}
@media screen and (max-width:520px) {
    .deliciousStoryLeft-image{
        width: 24rem;
    }
}
@media screen and (max-width:450px) {
    .deliciousStoryLeft-image{
        width: 20rem;
    }
}
@media screen and (max-width:360px) {
    .deliciousStoryLeft-image{
        width: 14rem;
    }
}