@font-face {
    font-family: 'josefin';
    src: url(../../../../fonts/JosefinSans-Medium.ttf);
}
@font-face {
    font-family: 'CormorantInfant-Bold';
    src: url(../../../../fonts/CormorantInfant-Bold.ttf);
}
.menuLeftInfo-header{
    font-family:'josefin', Courier, monospace;
    font-size: 1rem;
    border-top: 2px solid  #E1B168;
    border-bottom: 2px solid  #E1B168;
    padding-top: 0.4rem;
    padding-bottom: 0.4rem;
}

.menuLeftInfo-title{
    font-size: 2.5rem;
    font-family: 'CormorantInfant-Bold', Courier, monospace;
    margin-top: 1rem;
}

.menuLeftInfo-text{
    font-size: 1rem;
    font-family:'josefin', Courier, monospace;
    margin-top: 1rem;
}

@media screen and (max-width:560px) {
    .menuLeftInfo-text{
        width: 20rem;
        margin: 0 auto;
        margin-top: 2rem;
    }
    .menuLeftInfo-title{
        font-size: 2rem;
    }
}