@font-face {
  font-family: "josefin";
  src: url(.../../../../../fonts/JosefinSans-Medium.ttf);
}
@font-face {
  font-family: "CormorantInfant-Bold";
  src: url(.../../../../../fonts/CormorantInfant-Bold.ttf);
}

.testimonialInfo {
  margin-left: 4rem;
  padding-top: 8rem;
}

.testimonialInfo-name {
  font-family: "josefin", Courier, monospace;
  font-size: 1rem;
  border-top: 2px solid #e1b168;
  border-bottom: 2px solid #e1b168;
  padding-top: 0.4rem;
  padding-bottom: 0.4rem;
  color: #fff;
  margin-top: 2rem;
  display: inline-block;
  text-transform: uppercase;
}

.testimonialInfo-title {
  font-size: 2.5rem;
  font-family: "CormorantInfant-Bold", Courier, monospace;
  margin-top: 1rem;
  color: #fff;
}

.testimonialInfo-text {
  font-size: 1rem;
  font-family: "josefin", Courier, monospace;
  margin-top: 1rem;
  color: #fff;
}

@media screen and (max-width: 1400px) {
  .testimonialInfo-text,
  .testimonialInfo-title {
    text-align: center;
  }
  .testimonialInfo-text{
    width: 20rem;
    margin: 0 auto;
    margin-top: 2rem;
  }
  .testimonialInfo-name{
      text-align: center;
      margin: 0 auto;
      display: block;
      width: 20rem;

  }
  .testimonialInfo{
    margin: 0 auto;
  }
}
@media screen and (max-width: 500px) {
  .testimonialInfo-name{
      text-align: center;
      margin: 0 auto;
      display: block;
      width: 10rem;

  }
  .testimonialInfo-text{
    width: 14rem;
    text-align: center;
    margin: 0 auto;
    display: block;
    margin-top: 2rem;
  }
}
